<table>
  <tr>
    <th>name</th>
    <th>phone</th>
    <th>email</th>
    <th>company</th>
    <th>data_entry</th>
    <th>org_num</th>
    <th>address_1</th>
    <th>city</th>
    <th>zip</th>
    <th>geo</th>
    <th>id</th>
    <th>status</th>
    <th>fee</th>
    <th>guid</th>
    <th>date_exit</th>
    <th>date_first</th>
    <th>date_recent</th>
    <th>url</th>
  </tr>

</table>
